


 <% if resource.errors.any? %>
    <div class="text-danger mb-4">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% resource.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>