<h3 class="text-center">Editing property</h3>

<%= render "form", property: @property %>

<br>

<div class="container">
  <%= link_to "Show property ", @property, class:"text-success text-decoration-none" %> |
  <%= link_to "Back to properties ", properties_path, class:"text-primary text-decoration-none" %>
</div>
