<h3 class="text-center mt-4">New property</h3>

<%= render "form", property: @property %>

<br>

<div class="container">
  <%= link_to "Back to properties", properties_path, class:"text-primary text-decoration-none" %>
</div>
