<h3 class="text-center mt-4 h2">New property</h3>

<%= render "form", property: @property %>
<div class="text-center mt-3">
  <%= link_to "Cancel", properties_path, class:"btn btn-outline-secondary" %>
</div>
