
<%= render "shared/searchbar"%>
<nav class="d-none d-md-block bg-light sidebar mt-4 pt-4">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to root_path, class:"nav-link" do%>
                <i data-feather="home"></i>
                HOME
            <% end %>
          </li>
          <li class="nav-item">
           <%= link_to properties_path, class:"nav-link" do%>
            <i data-feather="box"></i>
              Properties
            <% end %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-feather="gift"></i>
              Products
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-feather="users"></i>
               Customers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-feather="activity"></i>
              Reports
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i data-feather="server"></i>
                Integrations
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Saved reports</span>
          <a class="d-flex align-items-center text-muted" href="#">
              <i data-feather="plus-circle"></i>          
              </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i data-feather="calendar"></i>
                Current month
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
                <i data-feather="calendar"></i> 
                Last quarter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-feather="coffee"></i>
              Social engagement
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i data-feather="calendar"></i> 
              Year-end sale
            </a>
          </li>
        </ul>
      </div>
    </nav>
    



